@model WebApplication1.Models.ShippingDetails

@{
    ViewData["Title"] = "AddCheckout";
}

<h1>AddCheckout</h1>

<h4>ShippingDetails</h4>
<hr />
<div>
    <h4>Cloth</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cloth.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cloth.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cloth.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cloth.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cloth.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cloth.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cloth.QuantityXS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cloth.QuantityXS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cloth.QuantityS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cloth.QuantityS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cloth.QuantityL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cloth.QuantityL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cloth.QuantityXL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cloth.QuantityXL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cloth.QuantityXXL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cloth.QuantityXXL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cloth.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cloth.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCheckout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="size" class="control-label"></label>
                <input asp-for="size" class="form-control" />
                <span asp-validation-for="size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" itemname" class="control-label"></label>
                <input asp-for="itemname" class="form-control" />
                <span asp-validation-for="itemname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Line1" class="control-label"></label>
                <input asp-for="Line1" class="form-control" />
                <span asp-validation-for="Line1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Line2" class="control-label"></label>
                <input asp-for="Line2" class="form-control" />
                <span asp-validation-for="Line2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Line3" class="control-label"></label>
                <input asp-for="Line3" class="form-control" />
                <span asp-validation-for="Line3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GiftWrap" /> @Html.DisplayNameFor(model => model.GiftWrap)
                </label>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
