@model WebApplication1.Models.Cloth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cloth</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityXS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityXS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityXL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityXL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityXXL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityXXL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
